workflow .json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1G5XvPfY8BBi3TrzwIi2VEK8pMvb-UGdD",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1G5XvPfY8BBi3TrzwIi2VEK8pMvb-UGdD"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ab620f39-3eec-4c48-9060-f7f989e2331b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Nfb5xX7106W0einL",
          "name": "chetantotager868@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "5422e057-8be4-4d9a-97b6-5a1170237933",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Nfb5xX7106W0einL",
          "name": "chetantotager868@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo-rpa",
          "mode": "list",
          "cachedResultName": "demo-rpa"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "086af686-6409-4d2b-a2fd-de5746879e26",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Kh6e4DWBLh9Qlamj",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "7bacaed4-f8d8-495c-be34-3ad2acf1016a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        304
      ],
      "id": "0ba49858-946f-42ca-a74d-e04d0405b287",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        208
      ],
      "id": "5960fea1-4bce-48a0-8e79-7a290bfd9b7f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        800,
        0
      ],
      "id": "e81ffbfd-4756-48f1-8729-622fdb3dec73",
      "name": "When chat message received",
      "webhookId": "5c8dc49f-3664-4d47-adce-ec3f59e96c85"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        0
      ],
      "id": "9d2d01aa-4f79-431a-8f10-0610c56eb4cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-haiku",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        880,
        208
      ],
      "id": "143f019a-0a77-4d06-ba1e-9e09feadbbdf",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xuaaRqcCvswGWQ4t",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "TO ACESS THE POLICY AND FAQ",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo-rpa",
          "mode": "list",
          "cachedResultName": "demo-rpa"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1168,
        288
      ],
      "id": "fac0d60d-88ad-47d4-a7a8-4598e5707339",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "Kh6e4DWBLh9Qlamj",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1264,
        496
      ],
      "id": "dab3340f-5da0-4f9a-a667-c0b3f2afb4bc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f6a6bd6a-b199-458e-95b0-bb00bb3975ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08e8e0cc2f49b141e231b233b0d7860376f580640b81b7100d465e41415c7fee"
  },
  "id": "W8T7LnOX6OnRDh9u",
  "tags": []
}